.icono{
	width: 12%;
	float:right;
	justify-content: center; /*se alienean al centro horizontalmente*/
	align-items: center; /*alienean al centro verticalmente*/
	margin:auto;
	color:#0B0B61;

}


#l1{
	width: 10%;
	float:right;
	justify-content: center; /*se alienean al centro horizontalmente*/
	align-items: center; /*alienean al centro verticalmente*/
	margin:auto;
}

#revision{
	align-items: center;
}

#container{
	font-family: sans-serif;
	font-size-adjust: text-justify;
	color:#0B0B61;
}

#mensaje1{
	margin-left: 25%;
}

#mensaje2{
	margin-left: 25%;
}

#mensaje3{
	margin-left: 25%;
}

#mensaje4{
	margin-left: 25%;
}

#mensaje5{
	margin-left: 25%;
}

section{
	margin-left: 20px;
	margin-right: 20px;	
}

.jumbotron{
	background-attachment: sticky;
	background-repeat: space;
}

.badge{
	font-size: 100%
	padding: 80px;
	margin: 0;
	background-attachment: fixed;
	opacity: 0.9;
}


#trabajo{
font-size: 40px;
font-family: garamond, serif;
}

#titulo{
font-size: 30px;
font-family: garamond, serif;
}

#year{
	height: 45px;
}

#error{
margin-left: 25%;
}